

h1 {
  font-size: 40px;
  font-family: Arial
}
h2 {
  font-size: 25px;
  font-family: Arial
}
h3 {
  font-family: Arial
}
p {
  font-size: 14px;
  font-family: Arial
}

div { 
  background-color: blue; 
  text-align: right; 
}
<<<<<<< HEAD

=======
>>>>>>> 2747facfb1b646ee45cf5ee358528f724cf6512d

